GGN-master/
*conda*
.idea
*pycache*
BruteForce/is_minimum_logs/
BruteForce/prediction_performance_logs/
BruteForce/tryout_logs/
PBLS/GA_logs/*
!PBLS/GA_logs/final
!PBLS/GA_logs/final/*
PBLS/brute_force_analysis_logs/
PBLS/brute_force_logs/
PBLS/gradient_check_logs/
PBLS/hill_climbing_logs/
PBLS/logs/
PBLS/objective_test_logs/
PBLS/weight_similarity_logs/
SigmoidGraphNetwork/GGN_logs/*
!SigmoidGraphNetwork/GGN_logs/final
!SigmoidGraphNetwork/GGN_logs/final/*
SigmoidGraphNetwork/SGN_logs/
Hillclimbing/hill_climbing_logs/
