GGN-master/
*conda*
.idea
*pycache*
BruteForce/is_minimum_logs/
BruteForce/prediction_performance_logs/
BruteForce/tryout_logs/
GA/GA_logs/*
!GA/GA_logs/final
!GA/GA_logs/final/*
GA/brute_force_analysis_logs/
GA/brute_force_logs/
GA/gradient_check_logs/
GA/hill_climbing_logs/
GA/logs/
GA/objective_test_logs/
GA/weight_similarity_logs/
SigmoidGraphNetwork/GGN_logs/
SigmoidGraphNetwork/SGN_logs/
Hillclimbing/hill_climbing_logs/
